@import "../../styles/variables";

.input {
  &__error {
    color: $error-color;
    font-size: $font-size-xxxs;

    margin-top: $margin-xxxs;
    margin-left: $margin-xxxs;
    margin-bottom: $margin-xxxs;

    &.pwd {
      transform: translateY(-$margin-xs);
    }
  }
}

.label-input {
  flex-direction: column;
  gap: $margin-xxxs;

  label {
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    color: $primary-color;

    user-select: none;
  }
  &.invalid {
    .input-container {
      input {
        outline: 2px solid $primary-field-error-border;
        &:focus {
          outline: 2px solid $primary-field-error-border;
        }
      }
    }
  }

  .input-container {
    input {
      border: none;
      outline: none;

      background-color: $input-bg;
      border-radius: $border-radius-xxs;

      padding: $padding-xxs $padding-xs;

      transition: outline 0.3s ease;

      &:focus {
        outline: 2px solid $primary-bg;
      }
    }

    .password-toggle {
      cursor: pointer;
      transform: translate(179px, -23px);

      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}
